[submodule "lib/external/glfw"]
	path = lib/external/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/external/glm"]
	path = lib/external/glm
	url = https://github.com/icaven/glm
[submodule "lib/external/assimp"]
	path = lib/external/assimp
	url = https://github.com/assimp/assimp
